/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* {
  outline: 2px dotted red;  
}
*/

/* 
  *https://cssreference.io/
  *https://css-tricks.com/almanac/
*/


body{
  margin:0;
  padding:0;
  
  
}

.bg0{
  background:url(bgzero.png) no-repeat center center fixed;
  background-size: cover;
}

.bg1{
  background:url(bgone.png) no-repeat center center fixed;
  background-size: cover;
}


.card{
    position: absolute;
    top: 50%;
    left:60%;
    transform: translate(-50%,-50%) perspective(2000px);
    width: 800px;
    height:1000px;
    background: #fff;
    transform-style: preserve-3d;
    box-shadow: inset 200px 0 50px rgba(0,0,0,.5), 0 20px 150px rgba(0,0,0,.7);
    transition: 1.3s ease-in-out;
}
.js-click2{
    transform: translate(-30%,-50%) perspective(2000px);
    box-shadow: inset 10px 0 30px rgba(0,0,0,.3), 0 20px 90px rgba(0,0,0,.3);
}

#foldericon{
  position: absolute;
  height: 140px;
  top: 350px;
  left: 315px;
  stroke: white;
  stroke-width: 3px;
}

.card:after{
    content:"";
    position: absolute;
    top: 0;
    right: -3px;
    width: 3px;
    height: 100%;
    background: silver;
    
}
.imgbox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1.3s ease-in-out;
    background: pink;
}

.js-click{
    transform: rotateY(-168deg);
}

.details{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: -1;    
}

video{
  width: 90%;
  position: flex;
  margin: 5% 5% 0% 5%;
  border-radius: 5px;
  
}

#netflix{
  height: 20px;
  position: absolute;
  top: 582px;
  right: 110px;
  stroke: black;
  
}

#imdb{
  height: 20px;
  position: absolute;
  top: 582px;
  right: 60px;
}

.cp{
  position: absolute;
  top: 925px;
  left: 325px;
  font-size: 12px;
  text-align: center;
}

#clip{
  height: 20px;
  position: absolute;
  left: 315px;
  top: 20px;
}

#cast{
  
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}

.actor{
  margin: 100px auto 0; 
  width: 100px;
  height: 150px;
  margin: 10px;
  display: block;
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(208, 216, 223, 1), 0 1px 3px rgba(0,0,0,.15);
  transition all: .3s;
}

.footer{
  text-align: center;
  color: white;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  opacity: 0;
  transition: all .25s ease;
}



.actor:hover{
    transform: translateY(-4px);
    box-shadow: 0 0 0 2px pink;
    height: 300px;
    width: 300px;
    
}

.footer:hover{
      height: 70px;
      background: pink;
      border-top-color: pink;
      cursor: pointer;
      opacity: 100;
}

#brie{
  background: url('https://m.media-amazon.com/images/M/MV5BMjExODkxODU3NF5BMl5BanBnXkFtZTgwNTM0MTk3NjE@._V1_SY1000_CR0,0,721,1000_AL_.jpg');
  background-size: cover;
}

#sam{
  background: url('https://m.media-amazon.com/images/M/MV5BMTQ1NTQwMTYxNl5BMl5BanBnXkFtZTYwMjA1MzY1._V1_UX214_CR0,0,214,317_AL_.jpg');
  background-size: cover;
}

#joan{
  background: url('https://m.media-amazon.com/images/M/MV5BMTMzMTAxMjQzMV5BMl5BanBnXkFtZTYwMzU1OTE1._V1_UX214_CR0,0,214,317_AL_.jpg');
  background-size: cover;
}

#bradley{
  background: url('https://m.media-amazon.com/images/M/MV5BMjQwMzg3ODUxNF5BMl5BanBnXkFtZTgwMzc5MDcxNDM@._V1_UY317_CR16,0,214,317_AL_.jpg');
  background-size: cover;
}

#m{
  background: url('https://m.media-amazon.com/images/M/MV5BMjA1MzE2NTQ4OV5BMl5BanBnXkFtZTgwNDI5MzQ1NzM@._V1_UY317_CR13,0,214,317_AL_.jpg');
  background-size: cover;
}

.footer a{
  text-decoration: none;
  color:white;
}


