/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* {
  outline: 2px dotted red;  
}
*/

/* 
  *https://cssreference.io/
  *https://css-tricks.com/almanac/
*/


body{
  margin:0;
  padding:0;
  
  
}

.bg0{
  background:url(bgzero.png) no-repeat center center fixed;
  background-size: cover;
}

.bg1{
  background:url(bgone.png) no-repeat center center fixed;
  background-size: cover;
}


.card{
    position: absolute;
    top: 50%;
    left:60%;
    transform: translate(-50%,-50%) perspective(2000px);
    width: 800px;
    height:1000px;
    background: #fff;
    transform-style: preserve-3d;
    box-shadow: inset 200px 0 50px rgba(0,0,0,.5), 0 20px 150px rgba(0,0,0,.7);
    transition: 1.3s ease-in-out;
}
.js-click2{
    transform: translate(-30%,-50%) perspective(2000px);
    box-shadow: inset 10px 0 30px rgba(0,0,0,.3), 0 20px 90px rgba(0,0,0,.3);
}

#foldericon{
  position: absolute;
  height: 140px;
  top: 350px;
  left: 315px;
  stroke: white;
  stroke-width: 3px;
}

.card:after{
    content:"";
    position: absolute;
    top: 0;
    right: -3px;
    width: 3px;
    height: 100%;
    background: silver;
    
}
.imgbox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1.3s ease-in-out;
    background: pink;
}

.js-click{
    transform: rotateY(-168deg);
}

.details{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: -1;    
}

video{
  width: 90%;
  position: flex;
  margin: 5% 5% 0% 5%;
  border-radius: 5px;
  
}

#netflix{
  height: 20px;
  position: absolute;
  top: 582px;
  right: 110px;
  stroke: black;
  
}

#imdb{
  height: 20px;
  position: absolute;
  top: 582px;
  right: 60px;
}

.cp{
  position: absolute;
  top: 925px;
  left: 325px;
  font-size: 12px;
  text-align: center;
}

#clip{
  height: 20px;
  position: absolute;
  left: 315px;
  top: 20px;
}

section{
  border: 2px solid red;
  height: 325px;
  display: flex;
}


